form {
  $duration: 200ms;
  $inactive-label: #ababab;
  font-family: Arial, Helvetica, sans-serif;

  .title {
    font-size: 0.7em;
    font-weight: 700;
    color: $inactive-label;
  }

  .options-control {
    position: relative;
    z-index: 2;
    margin-left: 0.9em;

    label {
      display: block;
      margin-bottom: 0.1em;

      input[type="radio"] { display: none }
      .label {
        font-size: 0.9em;
        font-weight: 700;
        &::before {
          $size: 0.75em;
          content: '';
          width: $size;
          height: $size;
          margin-right: $size;
          display: inline-block;
          background-color: white;
          border-radius: 50%;
          border: white 3px solid;
          box-shadow: 0 0 0px 1px #d2d2d2;
          transition-duration: $duration;
        }
      }
      input:checked ~ .label::before { background-color: #2f2f2f }
    }
  }

  .toggle-control {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 0.6em 2.2em;

    &.hidden { display: none }
    .label {
      font-size: 0.7em;
      font-weight: 700;
      color: $inactive-label;
      transition-duration: $duration;
      &.active { color: #343434; }
    }

    $bg-active: #fb9c4f;
    $bg-inactive: #e8e8e8;
    $bs: 0 0 0 1px;
    .custom-switch {
      margin: 0 0.1em 0 0.6em;

      .custom-control-label {
        &::after {
          background-color: white;
          top: calc(.25rem + 1px);
          left: calc(-2.25rem + 1px);
          width: calc(1rem - 2px);
          height: calc(1rem - 2px);
        }
        &::before {
          border-color: $bg-inactive;
          background-color: $bg-inactive;
        }
      }
      .custom-control-input {
        &:checked ~ .custom-control-label::before {
          border-color: $bg-active;
          background-color: $bg-active;
        }
        &:focus ~ .custom-control-label::before {
          box-shadow: 0 0 0 .2rem rgba($bg-active, 0.25);
        }
        &:focus:not(:checked) ~ .custom-control-label::before {
          border-color: $bg-inactive;
        }
        &:not(:disabled):active ~ .custom-control-label::before {
          background-color: $bg-inactive;
          border-color: $bg-inactive;
        }
      }
    }
  }

  .sum-control {
    margin: 0.8em 2.2em;

    &.hidden { display: none }
    input {
      appearance: textfield;
      -moz-appearance: textfield;
      -webkit-appearance: textfield;
      font-size: 0.9em;
      border: 1px solid #ccc;
      height: 1.9em;
      width: 10em;
      font-weight: 700;
      padding: 0 0.8em;
    }
    .label {
      font-size: 0.9em;
      padding: 0px 0.4em;
      font-weight: 700;
    }
  }

  .summary-wrap {
    margin: 1.5em 0 0 0.2em;
    background-color: #fbf3dc;
    max-width: 27.7em;
    font-size: 0.85em;
    padding: 1.3em 1.8em;

    .item:nth-of-type(n+2) { margin-top: 0.55em }
  }

  .info-trigger {
    --size: 1.6em;
    position: relative;
    font-size: 0.7em;
    width: var(--size);
    height: var(--size);
    color: $inactive-label;
    border: 1px solid $inactive-label;
    border-radius: 50%;
    margin-left: 0.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-0.2em);
  }

  .popover {
    $bg-popover: #5e6cab;
    display: none;
    font-size: 0.9em;
    font-weight: 700;
    color: white;
    background-color: $bg-popover;
    border: none;
    border-radius: 0;
    top: 3.4em;
    left: 0.8em;
    width: 21.4em;
    padding: 1.8em 1.3em;
    line-height: 1.8;

    &.active { display: block }
    &::before {
      content: '';
      --h: 1.3em;
      position: absolute;
      top: calc(-1 * var(--h));
      left: 0;
      border: solid transparent;
      border-width: var(--h) 0 0 var(--h);
      border-left-color: $bg-popover;
    }
  }
}